@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/kanit/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/kanit/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/kanit/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
 
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/kanit/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: FontAwesome;
  src: url(../fonts/fonts/FontAwesome.otf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Linearicons-Free;
  src: url(../fonts/Linearicons-Free.ttf);
  font-style: normal;
  font-variant:initial;
}

@font-face{
  font-family: Prompt-Light;
  src: url(../fonts/Prompt/Prompt-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Prompt-Italic;
  src: url(../fonts/Prompt/Prompt-Italic.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Prompt-Regular;
  src: url(../fonts/Prompt/Prompt-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Prompt-Thin;
  src: url(../fonts/Prompt/Prompt-Thin.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Prompt-Medium;
  src: url(../fonts/Prompt/Prompt-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Prompt-ExtraBoldItalic;
  src: url(../fonts/Prompt/Prompt-ExtraBoldItalic.ttf);
  font-style: normal;
  font-variant:initial;
}


html {
  scroll-behavior: smooth;
}
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 


 
 
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xs2{
    padding: 2px 2px 2px 2px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
  .none-pc{
    padding: 0px 0px 0px 0px !important;
  }
  .mar-left{
    margin-left: -80px;
  }
  .mar-left2{
    margin-left: -30px;
  }
}

a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/  
.navbar .dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar{
  background-color: #060709;
}
.navbar .dropdown-toggle:after { content: none }
.navbar .navbar-collapse .navbar-nav .nav-item {
  padding-left: 20px;
  padding-right: 20px;
  
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
  color: #ffffff;
  font-size: 18px;
  font-family: Kanit-Regular;
 
  text-align: center;
}

 
.navbar .navbar-nav .nav-item.active .nav-link,.navbar .navbar-nav .nav-item .nav-link:hover{
  color: #ffffff;
  background-color: #f4751c;
}
.navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link:before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 43px 18px;
  border-color: transparent transparent #f4751c transparent;
  position: absolute;
  margin-left: -26px;
  top:0;
  margin-top: 21px;
}
.navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43px 18px 0 0;
  border-color: #f4751c transparent transparent transparent;
  position: absolute;
  margin-left: 8px;
  margin-top: -8px;
}


.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover:before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 43px 18px;
  border-color: transparent transparent #f4751c transparent;
  position: absolute;
  margin-left: -26px;
  top:0;
  margin-top: 21px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43px 18px 0 0;
  border-color: #f4751c transparent transparent transparent;
  position: absolute;
  margin-left: 8px;
  margin-top: -8px;
}

.navbar .navbar-collapse .navbar-nav .nav-item:active:.nav-link:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43px 18px 0 0;
  border-color: #f4751c transparent transparent transparent;
  position: absolute;
  margin-left: 8px;
  margin-top: -8px;
}

.navbar .navbar-collapse .navbar-nav .nav-item.dropdown .nav-link:before{
  margin-top: 0px !important;
}

.navbar .navbar-collapse .navbar-nav .nav-item.dropdown .nav-link:hover:before{
  margin-top: 0px !important;
}
.navbar .navbar-collapse .navbar-nav .nav-item.active.dropdown .nav-link:before{
  margin-top: 0px !important;
}

.navbar .navbar-collapse .navbar-nav .nav-item.active.dropdown .nav-link:hover:before{
  margin-top: 0px !important;
}


/*.navbar .navbar-collapse .navbar-nav .nav-item.dropdown .nav-link:hover :before{
  content: "";
  border:none;
}
.navbar .navbar-collapse .navbar-nav .nav-item.dropdown .nav-link:hover :after{
  content: "";
  border:none;
}*/
.btn-search{
  border:none;
  text-align: center;
  display: block;
  background-color: #f4751c;
  color: #fff;
  width: 100%;
  height: 40px;

}
.search-box form h3{
  font-family: Kanit-Regular;
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search-box form select{
  border-radius: 0px;
  font-family: Prompt-Light;
  font-size: 16px;
  color: rgba(153,153,153,1);
  height: 40px;
}

.search-box form select{
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}
 
 
 
.search-box form  .form-group.aw:after {
  font-family: Linearicons-Free;
  content: "\e874";  
  color: #000;
  right: 0; 
  top:0;
  position: absolute;
  pointer-events: none;
  margin-right: 30px;
  margin-top: 10px;
}

.car-brand-img .item{
  border-bottom: 1px solid #3c3b3a; 
  padding-bottom: 25px;
}
.car-brand-img .box-brand li a img{
  filter: grayscale(100%);
}
.car-brand-img .box-brand li a img:hover{
  -webkit-filter: drop-shadow(2px 2px 2px #f4751c);
  filter:         drop-shadow(2px 2px 2px #f4751c); 
}

.brand-main{
  background-color: #0e0e0e; 
}
.m-about h2{
  font-family: Prompt-Regular;
  font-size: 30px;
  color: #fff;
}
.m-about h3{
  font-family: Prompt-Regular;
  color: #fff;
}
.h3x{
  font-family: Prompt-Regular;
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
.m-about h2 span{
  font-family: Prompt-Italic;
  color: #f4751c !important;
}
.m-about h3 span{
  font-family: Prompt-Italic;
  color: #f4751c !important;
}
.m-about p{
  font-family: Prompt-Thin;
  font-size: 18px;
  color: #999999;
}
.btn-s{
  background-color: #3d3d3d;
  width: 130px;
  text-align: center;
  color: #aaa9a9;
  font-family: Kanit-Light;
  font-size: 14px;
  padding: 5px 14px;
  margin-right: 30px;
  margin-left: 15px;

}
.btn-s2{
  background-color: #3d3d3d;
  width: 130px;
  text-align: center;
  color: #aaa9a9;
  font-family: Kanit-Light;
  font-size: 14px;
  padding: 5px 14px;
  margin-right: 30px;
  margin-left: 15px;

}

.btn-s i{
  color: #fff;
}

.btn-s:hover{
  color: #fff;
  background-color: #f4751c;
}

.btn-s2 i{
  color: #fff;
}

.btn-s2:hover{
  color: #fff;
  background-color: #f4751c;
}
 
.sec-promotion{
  background-image: url("../images/bg-2.png");
  background-repeat: no-repeat;
  background-color: #060709;
}
.sec-promotion2{
  background: url("../images/bg-2.png")  center top no-repeat, url("../images/bg-3.png")  center bottom no-repeat;
  background-color: #060709;
  background-size: 100%;
}
.sec-desx{
  background: url("../images/bg-2.png")  center top no-repeat, url("../images/bg-3.png")  center bottom no-repeat;
  background-color: #060709;
  background-size: 100%;
}
.box-des{
  background:  url("../images/bg-desx.png")  left top no-repeat;
  background-color: #000;
}

.box-des h1{
  font-family: Prompt-Medium; 
  color: #fff;
}

.box-des h2{
  padding: 15px;
  color: #f4751c;
  font-family: Prompt-Medium;
  background-color: #373737; 
  text-align: center;
  font-size: 46px;
  border-bottom: 8px solid #f4751c;
  height: 100px;
}
.box-des h2:after{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 40px;
  border-color: transparent transparent #000 transparent; 
  content: "";
  position: absolute;
  right: 0;
  top:0;
  height: 100px;
}

.box-des .box-desxz div:nth-child(odd) p{
  color: #fff;
  font-family: Prompt-Medium;
  font-size: 18px;
  text-align: right;
  vertical-align: middle;
}
.box-des .box-desxz div:nth-child(even) p{
  color: #fcd1b1;
  font-family: Prompt-Medium;
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
}

.contact{
  background: url("../images/bg-3.png")  center bottom no-repeat;
  background-color: #060709;
  background-size: 100%;
}
.sec-promotion h3{
  font-family: Prompt-Medium;
  text-align: 20px;
  text-align: center;
  color: #fff;
}
.sec-promotion2 h3{
  font-family: Prompt-Medium;
  text-align: 20px;
  text-align: center;
  color: #fff;
}
.sec-promotion2 h3{
  font-family: Prompt-Medium;
  text-align: 20px;
  text-align: center;
  color: #fff;
}
.contact h3{
  font-family: Prompt-Medium;
  text-align: 30px;
  text-align: center;
  color: #fff;
}
 
.contact h1{
  font-family: Prompt-ExtraBoldItalic;
  text-align: center;
  color: #fff;
}
 
.contact .container{

}

.bg-boxc{
  background-color: rgba(66,65,65,.75); 
  padding: 30px;
}
.bg-boxc h4{
  color: #ffffff;
  font-family: Prompt-Regular;
}

.bg-boxc h4 a{
  color: inherit;
}

.bn{
  margin-right: 10px;
}

.sh-x{
  box-shadow: 15px 15px 0px 0px rgba(14,14,14,1);
}

.addline{
  color: #ffffff;
  font-family: Prompt-Regular;
  font-size: 22px;
 
}
.addline:hover{
  color: #ffffff;
}
  
.finan{
  box-shadow: 0px 0px 10px 1px rgba(244,117,28,1);
  padding: 30px;
  background-color: #282828;
}
.finan h3{
  color: #f4751c;
  font-family: Prompt-Medium;
  font-size:30px;
}
.finan form .form-control{
  background-color: #000000;
  color: #ffffff;
  font-family: Prompt-Regular;
  font-size: 18px;
  border-radius: 0px;
  border: 1px solid transparent;
}
.finan form label{
 
  color: #ffffff;
  font-family: Prompt-Regular;
  font-size: 18px;
  border-radius: 0px;

}

.finan form .form-control::-webkit-outer-spin-button,
.finan form .form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-submit{
  font-family: Prompt-Medium;
  color: #fff;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: #f4751c;
  display: block;
  width: 100%;
}


.tablistx .nav.nav-tabs{  
  background-color: #4d4d4d;
  border-bottom: 1px solid transparent;
  height: 45px;
}

/*.tablistx .nav.nav-tabs:after{  
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 45px 20px;
  border-color: transparent transparent red transparent;
  right: 0;
}
   
*/
.tab-content .tab-pane {
  padding-top: 30px;
}
.tab-content .tab-pane p{
  font-family: Prompt-Light;
  color: #fff;
  font-size: 16px;
}

.tablistx .nav.nav-tabs .nav-item {
  width:32%;
  text-align: center;
}

.tablistx .nav.nav-tabs .nav-item .nav-link{
  font-family: Prompt-Medium;
  color: #fff;
  border-radius: 0px;
  width: 100%;
}  
/*.tablistx .nav.nav-tabs .nav-item:last-child:after .nav-link{
  border-color: transparent transparent transparent transparent;
}
*/

.tablistx .nav.nav-tabs .nav-item .nav-link.active{
  font-family: Prompt-Medium;
  color: #fff;
  background-color: #f4751c;
  border:1px solid transparent;
  margin-top: -10px;
}

.tablistx .nav.nav-tabs .nav-item .nav-link:hover{
 
  border:1px solid transparent;
}

 




footer{
  background-image: url("../images/bg-footer.png");
  background-color: #060709;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size:100%;
}
footer h3{
  font-family: Prompt-Medium;
  color: #fff;
  font-size: 30px;

}
footer p{
  font-family: Prompt-Thin;
}
footer address p { 
  font-family: Prompt-Light;
}
footer .addressx{ 
  font-family: Prompt-Light;
}
footer address p a{
  color: inherit;
  padding-left: 45px;
  display: inline-block;

}
footer address p a:hover{
  color: #fff;
}
footer address a img{
  margin-right: 5px;
}

footer address p:nth-child(1):before{ 
  content: "";
  position: absolute;
  background-image: url(../images/icon_maker.png);
  width: 25px;
  height: 33px;
}
footer address p:nth-child(2):before{
  content: "";
  position: absolute;
  background-image: url(../images/icon_tel.png);
  background-size: 90%;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}
footer address p:nth-child(3):before{
  content: "";
  position: absolute;
  background-image: url(../images/icon_mline.png);
  width: 33px;
  height: 23px;
}
footer small{
  font-family: Prompt-Light;
  color: #969698;
}

.totop{
  position: fixed;
  right: 20px;
  bottom: 40px;
  color: #fff;
  background-color: #f4751c;
  padding: 10px 18px;
   
}
.totop:hover{
  color: inherit;
}


.show-list{
  font-size: 20px;
  color: #4e4e4e;
  position: absolute;
  right: 0;
  margin-right: 60px;
  top: 0;
  background-color: #fff;
  padding: 4px 10px;
}
.show-grid{
  font-size: 20px;
  color: #4e4e4e;
  position: absolute;
  right: 0;
  margin-right: 0px;
  top: 0;
  background-color: #fff;
  padding: 4px 10px;
}

.show-list:hover,.show-list.active{
  color: #fff;
  background-color: #f4751c;
}
.show-grid:hover,.show-grid.active{
  color: #fff;
  background-color: #f4751c;
}


.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail
{
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item
{
  float: none;
  width: 100%;
 
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.list-group-item-text{
  display: none;
}

.list-group-item .list-group-item-text{
  display: block;
}

.item.list-group-item .img-event {
  float: left;
  width: 30%;
}

.item.list-group-item .list-group-image
{
  margin-right: 10px;
}
.item.list-group-item .thumbnail
{
  margin-bottom: 0px;
  display: inline-block;
}
.item.list-group-item .caption
{
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.item.list-group-item:after
{
  clear: both;
}


#products .item.list-group-item{
  margin-top: 15px;
}

.card-body{
  background-color: #1c1c1c;
}
.label-h{
  background-color: #373737;
  border-bottom: 5px solid #f4751c;
  padding-bottom: 10px; 
  width: 85%;
  padding-left: 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: Kanit-Regular;
  line-height: 25px;
  padding-top: 10px;
  margin-top: -45px;
  margin-bottom: 10px;
  z-index: 999;
  position: absolute;
}


#products .item.list-group-item .img-event{
  background-color: #373737;
  padding-bottom: 32px;
}

#products .item.list-group-item .label-h{
  max-width: 26.8%;
}
#products .item.list-group-item .card-body{
  padding-top: 15px;
}
.card-body{
  padding-top: 45px;
}
#products .item.list-group-item .list-group-item-heading{
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-family: Kanit-Regular;
}
#products .list-group-item-heading{
  display: none;
}
 
#products .list-group-item-heading .groupxx{
  display: block;
}
#products .item.list-group-item .list{
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
#products .list{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.lead{
  border-left: 6px solid #f4751c;
  color: #f4751c; 
  padding-left: 15px;
  font-family: Kanit-Medium;
  line-height: 30px;
  padding-top: 10px;
  margin-left: -20px;
  text-align: left;
}
#products .item.list-group-item .lead{
  border-left:none;
  border-right: 6px solid #f4751c;
  color: #f4751c; 
  padding-right: 15px;
  font-family: Kanit-Medium;
  line-height: 30px;
  padding-top: 10px;
  margin-right: 15px;
  text-align: right;
}
#products .year{
  color: #fff; 
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  margin-top: 15px;
  font-family: Kanit-Regular;
  font-size: 18px; 
}
#products .item.list-group-item .year{
  display: none;
}

.list-group-item-text{
  font-size: 18px;
  color: #a5a5a5;
  font-family: Kanit-Light;
}
 
#products .item.list-group-item .set-al{
  text-align: right;
  position: absolute;
  right: 0;

}

#products .set-al{
  text-align: center;
}


.btn-m{
  background-color: #f4751c;
  width: 130px;
  text-align: center;
  color: #fff;
  font-family: Kanit-Light;
  font-size: 14px;
  padding: 6px 15px;
  margin-right: 30px;
  margin-left: 15px;
}

.btn-m:hover{
  color: #fff;
}

.btn-m2{
  background-color: #f4751c;
  width: 130px;
  text-align: center;
  color: #fff;
  font-family: Kanit-Light;
  font-size: 14px;
  padding: 7px 15px;
  margin-right: 30px;
  margin-left: 15px;
}

.btn-m2:hover{
  color: #fff;
}


.thumbnail:hover{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(244,117,28,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(244,117,28,1);
  box-shadow: 0px 0px 10px 2px rgba(244,117,28,1);
}


.sec-new-car{
  background-image: url("../images/bg-3.png");
  background-color: #0b0b0b;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 80%;
}
.sec-new-car h3{
  font-family: Prompt-Medium;
  text-align: 20px;
  text-align: center;
  color: #fff;
}
.sec-new-car .item.list-group-item .card{
  background-color: rgba(28,28,28,1) !important;
}
.sec-new-car .item.list-group-item .card-body{
  background-color: rgba(28,28,28,1) !important;
}

.sec-new-car .card{
  background-color: rgba(28,28,28,.8) !important;
}
.sec-new-car .card-body{
  background-color: rgba(28,28,28,.8) !important;
}

.sec-new-car .label-h:after{
  margin-left: 46px;
}
.sec-new-car .item.list-group-item .label-h:after{
  margin-left: 126px;
}

.dropdown-menu .dropdown-item:hover,.dropdown-menu .dropdown-item.active:hover{
  background-color: #d75c05;
}
.dropdown-menu{
  background-color: #f4751c;
  padding: 0px !important;
  border-radius: 0px;
  margin-top: -2px;
  margin-left: 2px;
}
.dropdown-menu .dropdown-item{
  color: #ffffff;
  font-size: 18px;
  font-family: Kanit-Regular;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #d75c05 !important;

}

.ul-list{
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.ul-list li{
  display: inline;
  margin-right: -5px;
  margin-left: 0px;
  padding-right: -5px;
  padding-left: 0px;
}
.ul-list li a{
  font-size: 24px;
  color: #fff;
  background-color: #646464;
  font-family: Kanit-Bold;
  padding: 5px 18px;
  margin-left: 0px;
  margin-right: 0px;
}
.ul-list li a:hover{
  background-color: #565555; 
}
.ul-list li.active a{
  background-color: #f4751c; 
  box-shadow: 0px 0px 0px 6px rgba(244,117,28,0.34);
}
.ul-list li:first-child a{
  font-size: 24px;
  padding: 5px 0px;
  padding-right: 0px;
  margin-right: 12px;
}

.ul-list li:last-child a{
  font-size: 24px;
  padding: 5px 4px;
  margin-left:10px;
}
.vid-car .col-lg-4{
  margin-top: 30px;
}
.vid-body{
  background-color: #1c1c1c;
  padding: 15px;
  padding-bottom: 30px;
}
.vid-body a{
  background-color: #1c1c1c;
  font-family: Kanit-Regular;
  color: #fff;
  font-size: 20px;

}

@media (min-width: 1200px) {
  .nav-button{
    display: none !important;
  }
}

@media only screen and (max-width: 991px) { /* MOBILE */
  .f-ma{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer .smx:nth-child(1){
    text-align: center;
  }
  footer .smx:nth-child(2){
    text-align: center;
  }
  footer small{
    font-size: 11px;
  }
  .search-box .row{
    display: unset;
  }
  .search-box{
    background-color: rgba(0,0,0,.93);
 
  }
  .search-m{
    background-color: rgba(0,0,0,.93);
  }
  .m-about h3{
    font-size: 18px;
  }
  .h3x{
    font-size: 24px;
  }
  .m-about h2 span{
    font-size: 20px;
  }
  .m-about h3 span{
    font-size: 20px;
  }
  footer p{
    color: #fff;
    font-size: 16px;
  }
  .main-menu .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #f4751c;
    background-color: transparent;
  }
  .contact h1{
    font-size: 24px;
  }
  .bg-boxc h4{
    font-size: 18px;
  }
  .box-des h1{
    font-size: 20px; 
  }
  .tablistx .nav.nav-tabs .nav-item .nav-link.active{
    font-size: 15px;
  } 
  .tablistx .nav.nav-tabs .nav-item .nav-link{
    font-size: 15px;
  }  
 
}
@media only screen and (min-width: 992px) { /* PC */
  .f-ma{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  footer .smx:nth-child(1){
  text-align: left;
  }
  footer .smx:nth-child(2){
    text-align: right;
  }
  footer small{
    font-size: 18px;
  }
  .search-box .row{
    display: flex;
  }
  .search-box{
    background-color: rgba(153,153,153,.93);
    margin-top: -135px;
    padding-bottom: 15px;
  }
  .m-about h3{
    font-size: 24px;
  }
  .h3x{
    font-size: 30px;
  }
  .m-about h2 span{
    font-size: 40px;
  }
  .m-about h3 span{
    font-size: 40px;
  }
  footer p{
    color: #969698;
    font-size: 18px;
  }
  .contact h1{
    font-size: 40px;
  }
  .bg-boxc h4{
    font-size: 22px;
  }
  .box-des h1{
    font-size:40px; 
  }
  .tablistx .nav.nav-tabs .nav-item .nav-link.active{
    font-size: 18px;
  }
  .tablistx .nav.nav-tabs .nav-item:nth-child(1) .nav-link.active:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 20px;
    border-color: transparent transparent #f4751c transparent;
    position: absolute;
    top: 0;
    margin-left: -71px;
    margin-top: -10px;
  }
  .tablistx .nav.nav-tabs .nav-item:nth-child(2) .nav-link.active:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 20px;
    border-color: transparent transparent #f4751c transparent;
    position: absolute;
    top: 0;
    margin-left: -92px;
    margin-top: -10px;
  }
  .tablistx .nav.nav-tabs .nav-item:nth-child(3) .nav-link.active:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 20px;
    border-color: transparent transparent #f4751c transparent;
    position: absolute;
    top: 0;
    margin-left: -90px;
    margin-top: -10px;
  }
   
  .tablistx .nav.nav-tabs .nav-item:nth-child(1) .nav-link.active:after{
    content: "";
    width: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 20px 0 0;
    border-color: #f4751c transparent transparent transparent;
    position: absolute;
    top: 0; 
    margin-left: 51px;
    margin-top: -10px;
  }
  .tablistx .nav.nav-tabs .nav-item:nth-child(2) .nav-link.active:after{
    content: "";
    width: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 20px 0 0;
    border-color: #f4751c transparent transparent transparent;
    position: absolute;
    top: 0; 
    margin-left: 72px;
    margin-top: -10px;
  }
  .tablistx .nav.nav-tabs .nav-item:nth-child(3) .nav-link.active:after{
    content: "";
    width: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 20px 0 0;
    border-color: #f4751c transparent transparent transparent;
    position: absolute;
    top: 0; 
    margin-left: 70px;
    margin-top: -10px;
  }
  .tablistx .nav.nav-tabs .nav-item .nav-link{
    font-size: 18px;
  }  

  .tablistx:before{  
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 20px;
    border-color: transparent transparent #4d4d4d transparent;
    position: absolute;
    left: 0;
    margin-left: 10px;
  }
  .tablistx:after{  
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 20px;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
  }
  

  .btn-s:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 31px 12px;
    border-color: transparent transparent #3d3d3d transparent;
    position: absolute;
    margin-left: -25px;
    margin-top: -2px;
    
  }
  .btn-s:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 12px 0 0;
    border-color: #3d3d3d transparent transparent transparent;
    position: absolute;
    margin-left: 14px;
    margin-top: -2px;
 
  }
  .btn-s:hover:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 31px 12px;
    border-color: transparent transparent #f4751c transparent;
    position: absolute;
    margin-left: -25px;
    margin-top: -2px;
    
  }
  .btn-s:hover:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 12px 0 0;
    border-color: #f4751c transparent transparent transparent;
    position: absolute;
    margin-left: 14px;
    margin-top: -2px;
  }

 

  .btn-s2:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 31px 12px;
    border-color: transparent transparent #3d3d3d transparent;
    position: absolute;
    margin-left: -26px;
    margin-top: -3px;
    
  }
  .btn-s2:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 12px 0 0;
    border-color: #3d3d3d transparent transparent transparent;
    position: absolute;
    margin-left: 14px;
    margin-top: -3px;
 
  }
  .btn-s2:hover:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 31px 12px;
    border-color: transparent transparent #f4751c transparent;
    position: absolute;
    margin-left: -26px;
    margin-top: -3px;
    
  }
  .btn-s2:hover:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 12px 0 0;
    border-color: #f4751c transparent transparent transparent;
    position: absolute;
    margin-left: 14px;
    margin-top: -3px;
  }

  .btn-m:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 32px 12px;
    border-color: transparent transparent #f4751c transparent;
    position: absolute;
    margin-left: -27px;
    margin-top: -2px;
  }
  .btn-m:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 12px 0 0;
    border-color: #f4751c transparent transparent transparent;
    position: absolute;
    margin-left: 15px;
    margin-top: -2pt;
  }


  .btn-m2:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 33px 12px;
    border-color: transparent transparent #f4751c transparent;
    position: absolute;
    margin-left: -27px;
    margin-top: -2px;
  }
  .btn-m2:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 12px 0 0;
    border-color: #f4751c transparent transparent transparent;
    position: absolute;
    margin-left: 15px;
    margin-top: -4px;
  }
}

@media only screen and (width: 1024px) { /* IPAD PRO */
  .label-h{
    font-size: 14px;
  }

}

/*f4751c*/





.navbar .navbar-brand  {  
  margin:auto;
  display: block;
}
 

.navbar-toggler{
  position: absolute;
  top: 0;
  left: 0;
}
.navbar-toggler i{
  color: #000;
}

.main-menu {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.nav-open .main-menu {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.9);
}

.main-menu .navbar-nav li a {
  color: #FFF;
  font-size: 20px;
  font-family: Kanit-Regular;
  border-bottom: 1px solid #282828;
}
.main-menu .navbar-nav li.active a {
  color: #f85252;
   
}


.main-menu .navbar-nav li {
   opacity: 0;
   -webkit-transform: translateY(-40px);
   transform: translateY(-40px);
   -webkit-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
   -moz-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
   -o-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
   animation-timing-function: cubic-bezier(.45, .005, 0, 1);
}

.nav-open .main-menu .navbar-nav li {
   opacity: 1;
   -webkit-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition: -webkit-transform .2s, opacity .2s;
   transition: transform .2s, opacity .2s;
} 

.nav-button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1111;
 
  height: 42px;
  display: block;
  width: 50px;
  padding: 12px;
}

.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
   cursor: pointer;
}

.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out
}

.nav-button #nav-icon3 span:nth-child(1) {
  top: 0
}

.nav-button #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 7px
}

.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%
}

.flex-center {
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%
}
.nav-open #nav-icon3 span{
  background-color: #fff;
}

.item-p #products li .item{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}




.btn-rt{
  font-family: Kanit-Regular;
  margin: auto;
  padding: 0px; 
  height: 40px;
  width: 110px;
  font-size: 14px;
}
 
.btn-rt div{
  position: absolute;
  top: 0px;
  color: #e6e6e7; 
  background-color: #f4751c;
  line-height: 30px; 
  width: 110px;
  height: 30px;

}
 
.btn-rt div span.l{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -13px; 
  border-bottom: 30px solid #f4751c;
  border-left: 13px solid transparent;
}
.btn-rt div span.r{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -13px; 
  border-top: 30px solid #f4751c;
  border-right: 13px solid transparent;
}
/*Ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/


.btn-rt2{
  font-family: Kanit-Regular;
  margin: auto;
  padding: 0px; 
  height: 40px;
  width: 120px;
  font-size: 12px;
}
.btn-rt2 div{
  position: absolute;
  top: 0px;
  color: #aaa9a9; 
  background-color: #3d3d3d;
  line-height: 30px; 
  width: 110px;
  height: 30px;
}
 
.btn-rt2 div span.l{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -13px; 
  border-bottom: 30px solid #3d3d3d;
  border-left: 13px solid transparent;
}
.btn-rt2 div span.r{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -13px; 
  border-top: 30px solid #3d3d3d;
  border-right: 13px solid transparent;
}

.btn-rt2:hover div{
  background-color: #f4751c;
  color: #fff;
}

.btn-rt2:hover div span.l{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -13px; 
  border-bottom: 30px solid #f4751c;
  border-left: 13px solid transparent;
}
.btn-rt2:hover div span.r{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -13px; 
  border-top: 30px solid #f4751c;
  border-right: 13px solid transparent;
}


/*Ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/


.btn-ss{
  font-family: Kanit-Regular;
 
  padding: 0px; 
  height: 40px;
  width: 120px;
  font-size: 12px;
}
.btn-ss div{
  position: absolute;
  top: 0px;
  color: #aaa9a9; 
  background-color: #3d3d3d;
  line-height: 30px; 
  width: 110px;
  height: 30px;
  text-align: center;
}
 
.btn-ss div span.l{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -13px; 
  border-bottom: 30px solid #3d3d3d;
  border-left: 13px solid transparent;
}
.btn-ss div span.r{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -13px; 
  border-top: 30px solid #3d3d3d;
  border-right: 13px solid transparent;
}


.btn-ss:hover div{
  background-color: #f4751c;
  color: #fff;
}

.btn-ss:hover div span.l{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -13px; 
  border-bottom: 30px solid #f4751c;
  border-left: 13px solid transparent;
}
.btn-ss:hover div span.r{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -13px; 
  border-top: 30px solid #f4751c;
  border-right: 13px solid transparent;
}

.label-h:after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width:78px 30px 0 0;
  border-color: #373737 transparent transparent transparent; /*373737*/
  position: absolute;
  right: 0;
  margin-top: -35px;
  margin-right: -30px;
}


.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.carousel-control-prev span{
  background-color: #f4751c;
  padding: 10px 20px;
}
.carousel-control-next span{
  background-color: #f4751c;
  padding: 10px 20px;
}

/*

f4751c

*/