@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/kanit/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/kanit/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/kanit/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
 
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/kanit/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: FontAwesome;
  src: url(../fonts/fonts/FontAwesome.otf);
  font-style: normal;
  font-variant:initial;
}
 
 
/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 


 
 
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xs2{
    padding: 2px 2px 2px 2px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  } 
  .none-pc{
    padding: 0px 0px 0px 0px !important;
  }
}

a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/  


.navbar{
  background-color: #060709;
}
.navbar .dropdown-toggle:after { content: none }
.navbar .navbar-collapse .navbar-nav .nav-item {
  padding-left: 20px;
  padding-right: 20px;
  
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
  color: #ffffff;
  font-size: 18px;
  font-family: Kanit-Regular;
 
  text-align: center;
}

 
.navbar .navbar-nav .nav-item.active .nav-link:after{
  content: "";
 
  border-style: solid;
  border-width: 30px 15px 0 0;
  border-color: #fff transparent transparent transparent;
  
}

.navbar .navbar-nav .nav-item.active .nav-link,.navbar .navbar-nav .nav-item .nav-link:hover{
  color: #ffffff;
  background-color: #f4751c;
}
.navbar .navbar-collapse .navbar-nav .nav-item.active :before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 44px 18px;
  border-color: transparent transparent #f4751c transparent;
  position: absolute;
  margin-left: -26px;
  margin-top: -9px;
}
.navbar .navbar-collapse .navbar-nav .nav-item.active :after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43px 18px 0 0;
  border-color: #f4751c transparent transparent transparent;
  position: absolute;
  margin-left: 8px;
  margin-top: -8px;
}


.navbar .navbar-collapse .navbar-nav .nav-item:hover :before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 44px 18px;
  border-color: transparent transparent #f4751c transparent;
  position: absolute;
  margin-left: -26px;
  margin-top: -9px;
}
.navbar .navbar-collapse .navbar-nav .nav-item:hover :after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43px 18px 0 0;
  border-color: #f4751c transparent transparent transparent;
  position: absolute;
  margin-left: 8px;
  margin-top: -8px;
}